body{
    background-color: whitesmoke;
    padding: 65px 0px 0px 0px;
    z-index: 0; 
}
.row-header {
    margin: 0px auto;
    padding: 0px 0px; 
}

#big-text{
    font-family: 'Lora', serif !important;
    font-weight: bolder;
}

#profileimage{
    width: 40em;
    height: 570px;
}

.btn span{ 
    font-weight: bold;
    font-size: 15px;
}

.padding-0{
    padding-right:0;
    padding-left:0;
}
#section-2{
    height: 270px;
}

#profiles li a{
    color: lightgray;
}
#profiles li a:hover{
    color: white;
}